In [18]:
import csv
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('class.csv',encoding='big5')
df.head()

   sno             sna  tot         dis INDEX   Station  Unnamed: 6
0    1    捷運市政府站(3號出口)  180  271.872140  BL18       市政府           0
1    2  捷運國父紀念館站(2號出口)   48   39.907193  BL17     國父紀念館           0
2    3           台北市政府   40  375.193589  BL18       市政府           2
3    4            市民廣場   60  340.493743   R03  台北101/世貿           0
4    5            興雅國中   60  425.237340   R02        象山           0

In [20]:
list(set(df['Unnamed: 6']))

[0, 1, 2]

In [21]:
a = []
b = []
c = []

for i in range(len(df['Unnamed: 6'])):
    if df['Unnamed: 6'][i] == 0:
        a.append(df['sno'][i])
    elif df['Unnamed: 6'][i] == 1:
        b.append(df['sno'][i])
    elif df['Unnamed: 6'][i] == 2:
        c.append(df['sno'][i])
    else:
        print(df['sno'])

In [22]:
len(a)+len(b)+len(c)+len(d)+len(e)+len(f)+len(g)

399

In [23]:
len(df['sno'])

399

In [24]:
list_all = []
list_all.append(a)
list_all.append(b)
list_all.append(c)

In [25]:
list_all

[[1,
  2,
  4,
  5,
  6,
  7,
  8,
  10,
  11,
  13,
  20,
  21,
  29,
  30,
  36,
  37,
  46,
  49,
  50,
  58,
  61,
  64,
  67,
  70,
  78,
  79,
  82,
  83,
  87,
  88,
  94,
  97,
  101,
  103,
  107,
  111,
  112,
  115,
  117,
  119,
  120,
  121,
  122,
  129,
  131,
  132,
  134,
  135,
  140,
  142,
  143,
  146,
  148,
  149,
  158,
  161,
  162,
  163,
  164,
  165,
  173,
  174,
  175,
  176,
  181,
  182,
  186,
  191,
  194,
  195,
  202,
  210,
  212,
  214,
  215,
  216,
  233,
  240,
  254,
  275,
  279,
  288,
  291,
  306,
  313,
  345,
  365,
  375],
 [41,
  43,
  65,
  68,
  69,
  73,
  80,
  93,
  95,
  96,
  109,
  114,
  123,
  127,
  141,
  144,
  151,
  166,
  167,
  170,
  177,
  178,
  179,
  180,
  184,
  188,
  193,
  196,
  201,
  203,
  204,
  205,
  207,
  217,
  219,
  221,
  224,
  232,
  234,
  239,
  242,
  243,
  246,
  247,
  257,
  260,
  262,
  263,
  264,
  269,
  272,
  273,
  274,
  278,
  280,
  285,
  287,
  303,
  317,
  324,
  325,
  330,
  335,
  346,
  348,
  355,
  356,
  358,
  370,
  380,
  381,
  383,
  393,
  396,
  398,
  402],
 [3,
  9,
  12,
  14,
  16,
  17,
  18,
  19,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  31,
  32,
  33,
  34,
  35,
  38,
  39,
  40,
  42,
  44,
  45,
  47,
  48,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  59,
  60,
  62,
  63,
  66,
  71,
  72,
  74,
  75,
  76,
  77,
  81,
  84,
  85,
  86,
  89,
  90,
  91,
  92,
  98,
  99,
  100,
  102,
  104,
  105,
  106,
  108,
  110,
  113,
  116,
  118,
  124,
  125,
  126,
  128,
  130,
  133,
  136,
  137,
  138,
  139,
  145,
  147,
  150,
  152,
  153,
  154,
  155,
  156,
  157,
  159,
  168,
  169,
  171,
  172,
  183,
  185,
  187,
  189,
  190,
  192,
  197,
  206,
  208,
  209,
  211,
  213,
  218,
  220,
  222,
  223,
  225,
  226,
  227,
  228,
  229,
  230,
  231,
  235,
  236,
  237,
  238,
  241,
  244,
  245,
  248,
  249,
  250,
  251,
  252,
  253,
  255,
  256,
  258,
  259,
  261,
  265,
  266,
  267,
  268,
  270,
  271,
  276,
  277,
  281,
  282,
  283,
  284,
  286,
  289,
  290,
  292,
  293,
  294,
  295,
  296,
  297,
  298,
  299,
  300,
  301,
  302,
  304,
  305,
  307,
  308,
  309,
  310,
  311,
  312,
  314,
  315,
  316,
  318,
  319,
  320,
  321,
  322,
  323,
  326,
  327,
  328,
  329,
  331,
  332,
  333,
  334,
  336,
  337,
  338,
  339,
  340,
  341,
  342,
  343,
  344,
  347,
  349,
  350,
  351,
  352,
  353,
  354,
  357,
  359,
  360,
  361,
  362,
  363,
  364,
  366,
  367,
  368,
  369,
  371,
  372,
  373,
  374,
  376,
  377,
  378,
  379,
  382,
  384,
  385,
  386,
  387,
  388,
  389,
  390,
  391,
  392,
  394,
  395,
  397,
  399,
  400,
  401,
  403,
  404]]

In [26]:
list(set(df['Unnamed: 6']))

[0, 1, 2]

In [27]:
len(list_all)

3

In [28]:
new = pd.DataFrame({"class":list(set(df['Unnamed: 6'])),
                    'sno_no':list_all})
new

   class                                             sno_no
0      0  [1, 2, 4, 5, 6, 7, 8, 10, 11, 13, 20, 21, 29, ...
1      1  [41, 43, 65, 68, 69, 73, 80, 93, 95, 96, 109, ...
2      2  [3, 9, 12, 14, 16, 17, 18, 19, 22, 23, 24, 25,...

In [29]:
new.to_csv('class_detail.csv')

In [30]:
len(a)

88

In [31]:
len(b)

76

In [32]:
len(c)

235